:root {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
*, *::after, *::before {
    box-sizing: inherit;
}
.main-container {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 10%;
}
.main-container .reference {
    position: absolute;
    color:white;
    bottom: 30px;    
    opacity:50%;
    font-size: 16px;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
}
.main-container .image {
    display: flex;
    justify-content: center;
    position:absolute;
    width: 35%;
    bottom: 0;
    top: 0;
}

.main-container .image img {
    object-fit:cover;
    width: 100%;
    bottom: 0;
}
.reference a {
    font-weight:bolder;
    color: white;
}

