@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #313631;
}
*, *::after, *::before {
    box-sizing: inherit;
}
.main-container {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 10%;
}

.main-container .image {
    display: flex;
    justify-content: center;
    position:absolute;
    width: 35%;
    bottom: 0;
    top: 0;
}

.main-container .image img {
    object-fit:cover;
    width: 100%;
    bottom: 0;
}

.main-container .header {
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    height:15%;
    top: 30%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.main-container .header img {
    height: 100%;
    width: 25%;
    object-fit: contain;
    filter: invert(100%);
}
.main-container .header h1 {
    color: white;
    font-family: "Cinzel Decorative", Helvetica, sans-serif;
}
.main-container .reference {
    font-family: monospace;
    position: absolute;
    color:white;
    bottom: 10px;    
    font-size: 12px;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
}
.reference a {
    font-weight:bolder;
    color: white;
}

.main-body {
    position:absolute;
    top: 0;
    left:35%;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
}

